* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'segoe ui';
  color: #fdf0d5;
  background-color: #669bbc;
}

.nav {
  height: 70px;
  width: 100%;
  padding-top: 10px;
  background-color: #003049;
  display: inline-block;
  position: fixed;
  top: 0;
}

.logo {
  font-size: 1.5em;
  margin: 8px;
}

.nav>.nav-links {
  margin-top: -48px;
  display: inline;
  float: right;
  font-size: 18px;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav>.nav-links>a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
  display: none;
}

#beginner{
  height: auto;
  width: 100%;
  position: static;
  margin-top: 100px;
  display: block;

  caption{
    font-size: 2em;
    font-weight: bold;
  }
}

#beginner > h1{
  text-align: center;
  font-size: 3.5em;
}

#intermediate{
  height: auto;
  width: 100%;
  position: static;
  margin-top: 100px;
  display: block;

  caption{
    font-size: 2em;
    font-weight: bold;
  }
}

#intermediate > h1{
  text-align: center;
  font-size: 3.5em;
}

table, th, tr, td {
  border: 3px solid #ffa31a;

  th, tr, td{
    padding: 10px 20px;
  }
}

#week_2, #week_3, #head_2, #week_4, #week_5, #week_6{
  display: none;
}


@media (max-width:600px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav>.nav-links>a {
    display: block;
    width: 100%;
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  .nav>#nav-check:checked~.nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}