* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'segoe ui';
    color: #fdf0d5;
    background-color: #669bbc;
}

.nav {
    height: 70px;
    width: 100%;
    padding-top: 10px;
    background-color: #003049;
    position: relative;
    display: inline-block;
    position: fixed;
}

.logo {
    font-size: 1.5em;
    margin: 8px;
}

.nav>.nav-links {
    margin-top: -48px;
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}


/* HEADINGS */

h1, p {
    text-align: center;
    line-height: 1.4;
}

h1 {
    font-size: 4.2rem;
}

p{
    font-size: 2em;
}

h2 {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 10px;
}

/* BASIC SETUP */

.page-wrapper {
    width: 100%;
    height: auto;
}

/* SECTIONS */

.headline {
    width: 100%;
    height: 100vh;
    min-height: 350px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('https://img.freepik.com/free-photo/people-working-out-indoors-together-with-dumbbells_23-2149175377.jpg?ga=GA1.1.556692687.1722779006&semt=ais_hybrid');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.features {
    width: 100%;
    height: auto;
    /* background-color: #f1f1f1; */
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('https://img.freepik.com/free-vector/man-running-with-blue-flowing-wave_1017-9202.jpg?ga=GA1.1.556692687.1722779006&semt=ais_hybrid');
    background-repeat: round;
    display: flex;
    padding: 50px 20px;
    justify-content: space-around;
}

.feature-container {
    flex-basis: 30%;
    margin-top: 10px;
}

.feature-container p {
    text-align: center;
    line-height: 1.2;
    margin-bottom: 15px;
}

.feature-container img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 20px;
    transition: all;
}

.home_img:hover{
    transform: scale(1.1);
    transition-duration: 2s;
    transition-timing-function: ease;
}

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) {
    .features {
        flex-direction: column;
        padding: 50px;
    }

    /* MOBILE HEADINGS */

    h1 {
        font-size: 1.9rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    /* SECTIONS */

    .headline {
        height: 20vh;
    }

    .feature-container p {
        margin-bottom: 25px;
    }

    .feature-container {
        margin-top: 20px;
    }

    .feature-container:nth-child(2) {
        order: -1;
    }

}




@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}